picture {
  border-radius: 12px;
  filter: drop-shadow(0 0 3px alpha(black, 0.4));
}

.drag-overlay-status-page {
  background-color: alpha(var(--accent-bg-color), 0.5);
  color: var(--accent-fg-color);
  padding: 32px;
}

.blurred {
  filter: blur(6px);
}

.background-fill {
  background-color: var(--window-bg-color);
}

.queue-row-header {
  padding: 9px;
}

.flip-on-rtl:dir(rtl) {
  transform: scaleX(-1);
}

/* `GtkLabel` Pango attributes don't work with Blueprint:
 * https://gitlab.gnome.org/jwestman/blueprint-compiler/-/issues/59 */
.font-size-smaller {
  font-size: smaller;
}
